Body {
  background-color: #f8dbd5;
}

.sofiaCompleanno {
  width: 20%;
  height: 20%;
}

.lettera-auguri {
  width: 50%;
}

.bottone-codice {
  background-color: #ffb5a6;
}

.bottone-codice:hover {
  background-color: #ffb5a6;
  color: #ffb5a6;
}
